<h1>Esto es {{viewName}}</h1>
<p>Enviar mensaje al server...</p>
<input type="text" id="myinput"/>
<button id="mybutton">Enviar</button>
<button id="mybutton2">Escuchar evento</button>

<div id="divdatos"><p>Datos recibidos</p></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>"
<script src="js/main.js"></script>