   <div class="flex items-center justify-center h-screen bg-gradient-to-r from-blue-600 to-violet-600">
        <div class="w-full max-w-xl flex flex-col">
         
            <h1 class="text-3xl text-white font-bold mb-5 drop-shadow-lg">AVISO</h1>
            <p class="text-white font-bold mb-5 drop-shadow-lg text-right ml-auto">{{message}}</p>
  


          <div class="border rounded p-4 flex flex-row items-center justify-center space-x-4">
    <a href="/"  class="w-full max-w-xs text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white">Volver al inicio</a>

</div>
    
        </div>
    </div>

