<!--CONTAINER PAGE -->
<div>
  <!--BANNER SUPERIOR -->
    <div class="w-full flex items-center pl-10 bg-blue-600 text-white object-fill py-4">
      <p class="text-2xl leading-none">/realTimeProducts</p>
    </div>




  <!--CONTAINER FORM Y CATALOGO -->
  <div class="flex row">
      
      <!--CONTAINER FORM -->
      <div class="w-1/6 bg-slate-100">
          <form id='formproducts' action="/api/products/addProductFromRealTimeProductsView" method="post"  class="px-4 pb-10 bg-sky-600" type="submit">
            <p class="text-center text-white text-1xl font-bold text-gray-900 py-10">Agregar un producto  </p>
            <input type="text" name="title" placeholder="Titulo" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            <input type="text" name="description" placeholder="Description" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
            <input type="text" name="code" placeholder="Codigo" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            <input type="number" name="price" placeholder="Precio" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            <input type="number" name="stock" placeholder="Stock" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            <input type="text" name="category" placeholder="Categoria" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" />
             <select name="status" required class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                <option value="" disabled selected>Status</option>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
               <input name ='img' placeholder="url image" type="url"  class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            <!--
            <input name ='img' type="file"  class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            <input id="input-thumbnails" type="file" disabled class="px-2 py-1 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"/>
            -->

            <button type="submit"  class="my-10 flex w-full justify-center rounded-md border border-transparent bg-sky-400 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-offset-2">Aceptar</button>
             <button type="button" onclick="clearForm()"  class="my-10 flex w-full justify-center rounded-md border border-transparent bg-lime-400 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-offset-2">Limpiar formulario</button>
        </form>
      </div>
  
      
      <!--CONTAINER CATALOGO-->
      <div class="w-5/6 px-10 py-4">
             <div id="containerproducts" class="grid grid-cols-6 gap-4" >
               <!--Aca la productList viene a travez de manipulacion de DOM.-->
             </div>

             <div class="relative overflow-x-auto space-y-10">
                <!--TABLA CAMBIOS -->
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <caption class="text-xl text-white py-2 font-bold bg-purple-700 uppercase text-gray-700 dark:text-gray-300">
                        Recientemente agregados
                    </caption>
                    <thead class="text-xs text-white uppercase bg-slate-700 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3">
                            ID
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Producto
                            </th>
                             <th scope="col" class="px-2 py-3">
                                Codigo
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Stock
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Category
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Precio
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody id="rows-table-recent" class="px-6 py-4 font-small whitespace-nowrap dark:text-white">
                        
                    <!--ACA ENTRAN LAS FILAS VIENEN POR MANIPULACION DOM -->
                    </tbody>
                </table>

                <!--TABLA TODOS LOS PRODUCTOS -->
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <caption class="text-xl text-white py-2 font-bold bg-purple-700 uppercase text-gray-700 dark:text-gray-300">
                        STOCK
                    </caption>
                    <thead class="text-xs text-white uppercase bg-slate-700 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3">
                            ID
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Producto
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Codigo
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Stock
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Category
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Precio
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody id="rows-table-allproducts" class="px-6 py-4 font-small whitespace-nowrap dark:text-white">
                        
                    <!--ACA ENTRAN LAS FILAS VIENEN POR MANIPULACION DOM -->
                    </tbody>
                </table>
            </div>
             
      </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/scripts/realTimeProducts.js"></script>
