<div class="bg-indigo-950  h-auto text-white py-24 px-10 object-fill">
       <div class="flex flex-col">
        <p class="font-bold text-sm uppercase">Services</p>
        <p class="text-3xl font-bold">E Commerce</p>
        <p class="text-2xl mb-10 leading-none">Your e-commerce</p>
        <a href="#" class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contactanos</a>
        </div>  
    </div>