<div class="lg:flex flex-row items-center justify-between space-x-4 sm:flex-col space-y-4">
    <div>
        <a href="/views/login" class="block lg:inline-block text-sm px-4 py-2 leading-none text-white hover:border-transparent hover:text-teal-500">Ingresa a nuestra tienda</a>
    </div>
    <div>
        <a href="/views/registrarse" class="block lg:inline-block text-sm px-4 py-2 leading-none text-white hover:border-transparent hover:text-teal-500">Crea tu cuenta</a>
    </div>
</div>